<?xml version="1.0"?>
<config>
    <modules>
        <Fod_Cutesave>
            <version>0.9.0.0</version>
        </Fod_Cutesave>
    </modules>

    <global>

        <models>
            <fod_cutesave>
                <class>Fod_Cutesave_Model</class>
            </fod_cutesave>
        </models>

    </global>

</config>
